<head>
  <meta charset="utf-8">
  <%- partial('google-analytics') %>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (page.description){ %>
  <meta name="description" itemprop="description" content="<%= page.description %>">
  <% } else if (config.description&&(!is_post())){ %>
  <meta name="description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^s*/, '').replace(/s*$/, '') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^s*/, '').replace(/s*$/, '').substring(0, 150) %>">
  <% } %>
  <% if (config.feed) { %>
    <%- feed_tag() %>
  <% } else if (theme.rss) { %>
    <%- feed_tag(theme.rss) %>
  <% } %>
  <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
  <% } %>
  <% if (theme.fancybox){ %>
    <%- css('fancybox/jquery.fancybox-1.3.4.css') %>
  <% } %>
  <%- css('css/style') %>
</head>
